.alert-msg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert-button {

    padding-left: 5em; 
    padding-right: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.sorry-popup {
    @extend %main-button;
    background-color: #DB2929;
    border: .5em solid #DB2929;
    z-index: 50;
}
.success-popup {
    @extend %main-button;
    background-color: $highlight;
    border: .5em solid $highlight;
    z-index: 50;
}
   