<section class="addSeason-view">
    <form name="createSeasonForm" data-ng-submit="createSeason()" role="form">
      <p><label id="season-seasonNum">Season Number<input id="season-seasonNum" name="seasonNumber"
                          data-ng-model="season.seasonNumber"
                          type="number"
                          placeholder="10"
                          value=""
                          required></p>
      <p><label id="season-seasonName">Season Name<input id="season-seasonName" name="seasonName"
                        data-ng-model="season.name"
                        type="text"
                        placeholder="SeasonName"
                        value=""
                        required></p>
      <input type="submit" class="submit-btn" name="submitSeason" value="Submit">
    </form>
</section>